
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f9fa;
  color: #0d1214;
}


/* Typography */
 
body {
  font-family: Verdana, Tahoma, sans-serif;
}


/* Components ::: General Buttons & Links */

.button {
  width: 200px;
  height: 60px;
  background-color: #0d1214;
  color: #f6f9fa;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #0d1214;
  border-radius: 2px;
  transition-duration: 0.5s;
  box-shadow: 1px rgb(182, 177, 177);
}

.button:hover {
  background-color: #f6f9fa;
  color: #0d1214;
}
.button:active {
  background-color: #0d1214;
  color: #00ccff;
  border: 1px solid #00ccff;
}

a {
  text-decoration: none;
  text-decoration-line: underline;
  color: #0d1214;
}

a:visited {
  text-decoration: none;
  text-decoration-line: underline;
  color: #0d1214;
}

a:hover {
  text-decoration: none;
  text-decoration: blink;
}

a:active {
  text-decoration: none;
  text-decoration: blink;
  color: rgb(0, 204, 255)
}

/* Layout */

header.nav-bar {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: white;  /* Este es el único blanco puro */
  border-bottom: 1px transparent #00ccff;
  box-shadow: 0 3px 3px rgba(4, 100, 100, 0.15);
}

div.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  height: 100%;
}

div.flex h1 {
  order: 1;
  font-size: 1.3em;
}

div.flex a.link {
  order: 2;
}
.container {
  margin: 0 20px;
}

ul.interests {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

/* Section ::: Perfil ::: Text, buttons */


section.section div.paragragh {
  padding-top: 20px;
  padding-bottom: 20px;
}
 /* Mobile CSS */

/* @media (min-width : 300px) { */

    #site-main {
      padding-top: 80px;
      margin-bottom: 50px;
    }

    /* .container {
      text-align: center;
    } */

    section.section {
      text-align: center;
      padding-bottom: 20px;
    }

    .button {
      display: block;
      margin: 0 auto;
    }


/* } */

/* Desktop CSS */

/* @media (min-width : 768px) { */

    /* #site-main section.section {
      float: left;
    } */

    /* .experiments {
      float: right;
      padding-right: 50px;
    } */

    /* .container {
      text-align: center;
      padding-top: 50px;
    } */

    /* #site-main .section {
      margin-left: 50px;
      margin-bottom: 50px;
    }
} */

/* Prueba ocultaciones */

.hidden-button-1 {
  display: none;
}

/* section. div img.image {
  border: 5px solid #0d1214;
  display: block;
  margin: 0 auto;
} */

section.section div.image-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1214;
  width: 100%;
  height: 300px;
}

.image {
  width: 150px;
}


/* Experiment 1 ::: Timer */
.time-out {
  margin-bottom: 10px;
}



/* Footer ::: Background, Search Bar & Footer text */

footer.flex {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 10px;
  flex-direction: column;
}

footer.color {
  background-color: #0d1214;
  color: #f6f9fa;
  height: 350px;
}


footer div.search {
  order: 1;
}

footer p {
  order: 2;
}
/* Search Components (Footer)  */

.input-students {
  position: relative;
  display: inline-block;

}

.input-students input {
  width: 150px;
}

.input-students .search-results {
  position: absolute;
  background-color: #f6f9fa;
  width: 150px;
  text-align: left;
  border-color: 1px solid #00ccff;
}

.input-students .search-results a {
  text-align: left;

}

footer p {
  position: relative;
}

.search-results ul {
  list-style-type: none;
  text-align: left;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.search-results ul li {
  text-align: left;
}

